.header-cart {
  width: 100%;
  height: 10rem;
  background: url('/Js5/Images/background_banner.jpeg');
  display: flex;
  justify-content: center;
  align-items: center;
  filter: opacity(90%);
}

h1 {
  font-size: 6rem;
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#principal-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 20rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;  
  border-radius: 10px;
  border: goldenrod groove 5px;
  margin: 0.5rem;
}

.card img {
  width: 50%;
  height: 10rem;
  object-fit: cover;
  border-radius: 10px;
  border: goldenrod groove 5px;
  filter: opacity(80%);
}

h2 {
  font-size: 1.5rem;
  color: #020a24;
  text-align: center;
}

button {
  width: 50%;
  height: 2rem;
  border-radius: 10px;  
  background: #015c06;
  color: #9be4f1;  
  cursor: pointer;  
  margin-top: 2rem;
}

button:hover,
button:focus {
  background: #9be4f1;
  color: #015c06;
  font-weight: bold;
}

