@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
html{
  scroll-behavior: smooth;
}

body {
  width: auto;
  height: auto;  
  align-items: center;
  background:linear-gradient(#2a1d5e9d,#0a0a0a,  #721621); 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}

#Options_Library{
  width: 100%;
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
}
#Options_Library a:not(:last-child){
  margin-right: 450px;
}
a{
  font-size: 2rem;
  text-decoration: none;
  color: white;
  transition: color 300ms ease-in-out;
}

a:hover{
  transform: scale(1.8);
  transition: 300ms;
}

#h1-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 80px;
  text-align: center;
  width: 90%;
  height: 120px;
  color: #2a1d5e;   
  background-color: rgb(233, 227, 227); 
  box-shadow: 0 0 10px rgb(233, 227, 227);
  border-radius: 50%;
}
#TxT_Description{
  width: auto;
  height:auto;
  background-color:rgb(233, 227, 227);
  box-shadow: 0 0 10px rgb(233, 227, 227);
  border-radius: 20%;
}

#Descrip_h2{
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  color: #2a1d5e;
  text-align: center;
}

.Shopping-cart-ocult{
  display: none;
}
.btn-marketcart:hover{
  cursor: pointer;
}

/*Main Cards Container*/
#main {
  width: 100%;
  height: 77%;
  display: flex;
  justify-content: center;  
  flex-wrap: wrap;
}

/* Cards */
.card {
  width: 16rem;
  height: 28rem;
  border-radius: 20px;
  background-color: rgb(233, 227, 227); 
  display: flex;  
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
  box-shadow: 0 0 100px rgb(233, 227, 227);
}

/*Headers  Card*/
.header-card {
  width: 100%;  
  display: flex;
  flex-direction: column;    
}

/* H2-Tittle */
#h2-card1 {
  color: #2a1d5e;
  margin: 2rem;  
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

#p-header {
  text-align: center;
  font-size: 1.1rem;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

/*Main Cards*/
.card-main {
  margin-top: 1rem;
  width: 100%;
  height: 20px;
  background: linear-gradient(90deg, #2a1d5e, purple);
}

/*Card Image*/

.card-image {
  width: 10rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.card-image:hover{
  transition: 400ms;
  transform: scale(1.1);
}

/* Img */
.img {
  width: 100%;
  height: 100%;
  border-radius: 20%;
  box-shadow: 0 0 20px #2a1d5e;
}

/* Price Container */
.price_p{
  font-family: 'Montserrat', sans-serif;
  font-size:20px;
  color: rgb(233, 227, 227);
  text-align: center;
  margin-top: 1rem;
  width: 257px;
  height: 20px;
  background: linear-gradient(90deg, #2a1d5e, purple);
}

/* BTN-Card*/
#btn-card {
  font-family: 'Montserrat', sans-serif;
  margin-top: 2em;
  width: 30%;
  height: 2.5rem;
  border-radius: 25px;
  background: linear-gradient(90deg, #2a1d5e, purple);
  color: rgb(233, 227, 227);
  cursor: pointer;
}

#btn-card:hover {
  transform:scale(1.1);
  transition: 300ms;
  background: #9084c4;
  color: rgb(233, 227, 227);
}

footer {
  width: 100%;
  height: 10%;
  background-color: rgb(233, 227, 227);
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer img {
  width: 5rem;
  height: 5rem;
}

footer h2 {
  color: #ffff;
  font-family: 'Montserrat', sans-serif;
}

#LinkMyPage{
  color: #06050a;
}

/*   Shopping */

.shopping-cart-items {
  padding: 20px 0px;
}

.shopping-cart-header {
  border-bottom: 1px solid #ccc;
}

.shopping-cart-image {
  max-width: 80px;
  border-radius: 20px;
}

.shopping-cart-quantity-input {
  max-width: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #eee;
  padding: 5px;
}

.shopping-cart-total {
  min-height: 96px;
}
